.btn {
  padding: 5px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid black;
  cursor: pointer;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-no-border {
  border: none;
}
